<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipients List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin: 5px 0;
        }

        a {
            text-decoration: none;
            color: #007bff;
            cursor: pointer;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>


    <!-- <h1>Recipients List</h1> -->

    <div style="margin-bottom: 30px;">
        <h1 style="display: inline;">Recipients List</h1>
        
    </div>



   
    
    <% if (recipients && recipients.length > 0) { %>
        <ul>
            <% recipients.forEach(innerArray => { %>
                <% innerArray.forEach(user => { %>
                    <li>
                        Username: <%= user.Username %>,
                        ID: <%= user.Id %>,
                        First Name: <%= user.Fname %>,
                        Last Name: <%= user.Lname %>,
                        Phone: <%= user.Phone %>,
                        Address: <%= user.Address %>,
                        Birthdate: <%= user.Bdate %>,
                        Email: <%= user.Email %>,
                        Sex: <%= user.Sex %>,
                        Blood Type: <%= user.Blood_type %>
                    </li>
                    <hr>
                <% }); %>
            <% }); %>
        </ul>
    <% } else { %>
        <p>No data available.</p>
    <% } %>


    
</body>
</html>
